<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Go + HTMX + sqlite3 Notes app</title>
  </head>
  <body hx-boost="true" style="text-align:center">


    <main>
    <div>
    <br/>
      <h1>notes list</h1>
      <div>
        <!-- TODO: move this to another html file
        To have a todo.html template or list.html template-->
        {{ range .Notes}}
        <div id={{.NoteUuid}}>
        <b>{{.Title}}</b>
        <p>{{.Content}}</p>
          <button type="button" hx-get="notes/{{.NoteUuid}}" hx-swap="outerHTML">Edit Notes</button>
             <button hx-target="body" hx-delete="notes/{{.NoteUuid}}" type="button">Delete Notes</button>
        </div>
        <br/>
        {{end}}
      </div>
    </div>
    <form name="noteentry" id="noteentry" action="/notes" hx-post="/notes" hx-target="body">
	    <label>Note title</label><br/>
	    <input type="text" minlength="3" name="notetitle" autofocus required/><br/>
        <label>Note body </label><br/>
        <textarea rows=10 cols=40 form="noteentry" name="notebody" id="notebody" method="post"></textarea><br/>
        <input id="noteentry_submit" type="submit" value="Submit notes!">
    </form>
  </main>

  <script>
  document.getElementById('notebody').addEventListener('keydown', function(event) {
    if (event.ctrlKey && event.key === 'Enter') {
        event.preventDefault();

        // trigger the form submission with ctrl+enter
        // when inside of the textarea
        htmx.trigger(this.form, 'submit');
    }
  });
  </script>

  </body>

<html>
