<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <title>Go + HTMX</title>
  </head>
  <body hx-boost="true">
    <main>
    <div>
    <h1>errmm title</h1>
    <br/>
      <span>notes list</span>
      <div>
        {{ "template notes.html" . }}
      </div>
    </div>
    <form method="post" action="/notes">
        <label>Note <input type="text" minlength="3" name="notetitle" autofocus required/></label>
    </form>
  </main>
  </body>

<html>
